* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: #333;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

th,
td {
    padding: 5px;
    border: 2px solid black;
}

label {
    font-weight: bold;
}